@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none; }

html {
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  background-color: #E5E5E5;
  color: #000000;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-x: hidden; }

button {
  cursor: pointer; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  background-color: #E5E5E5; }

::-webkit-scrollbar {
  border-radius: 50px;
  width: 10px;
  background-color: #E5E5E5; }

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #959696; }

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/Хедер.png");
  background-size: cover;
  width: 100%;
  position: absolute;
  height: 140px;
  left: 0px;
  top: 0px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35); }
  header a {
    text-decoration: none;
    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms; }
    header a:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1); }
  header .top-contacts {
    background: #000000;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0; }
    header .top-contacts ul {
      list-style: none;
      overflow: hidden;
      padding: 0;
      text-align: center;
      margin: 0; }
    header .top-contacts ul li {
      display: inline-block;
      padding: 11px 20px;
      margin: 0; }
    header .top-contacts ul li a {
      padding: 0;
      margin: 0;
      text-decoration: none;
      color: #FFFFFF;
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: normal;
      text-align: center;
      transition: all ease-in-out 300ms;
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms; }
      header .top-contacts ul li a:hover {
        text-decoration: none;
        color: #D41F26;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1); }

.logo {
  position: absolute;
  z-index: 100;
  float: left;
  margin-right: 36px;
  padding: 0;
  margin: 0; }

nav {
  position: relative;
  line-height: 70px; }

nav ul {
  list-style: none;
  background: transparent;
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  transition: all ease-in-out 1000ms;
  -webkit-transition: all ease-in-out 1000ms;
  -moz-transition: all ease-in-out 1000ms;
  -ms-transition: all ease-in-out 1000ms;
  -o-transition: all ease-in-out 1000ms; }

nav ul li {
  display: inline-block; }

nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  padding: 9px 34px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  text-align: center; }
  nav ul li a.active {
    border: 1px solid #D41F26;
    box-sizing: border-box;
    border-radius: 50px; }
  nav ul li a:hover {
    border: 1px solid #D41F26;
    box-sizing: border-box;
    border-radius: 50px;
    text-decoration: none;
    color: #D41F26; }

.menu-icon {
  position: relative;
  z-index: 99;
  line-height: 60px;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #D41F26;
  display: none; }

main {
  position: relative;
  margin-top: 183px; }
  main .no-gutters {
    margin: 0;
    padding: 0; }
  main h1 {
    color: #8B8B8B;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 47px;
    letter-spacing: -0.05em;
    margin-bottom: 40px; }
  main .row img {
    padding: 0;
    margin: 0; }
  main .row a {
    margin: 0;
    padding: 0; }
    main .row a.no-gutters {
      margin: 0 !important;
      padding: 0; }

.jumbotron {
  background: #F2F2F2;
  margin-top: 40px; }
  .jumbotron a {
    text-decoration: none;
    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms; }
    .jumbotron a:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1); }
  .jumbotron h2 {
    color: #8B8B8B;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 47px;
    letter-spacing: -0.05em;
    margin-bottom: 40px; }
  .jumbotron .card-deck .card {
    width: 343px;
    height: 343px;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    margin-bottom: 40px;
    justify-items: center; }
    .jumbotron .card-deck .card img {
      align-self: center; }
    .jumbotron .card-deck .card:nth-child(1) img {
      width: 209px;
      height: auto; }
    .jumbotron .card-deck .card:nth-child(2) img {
      margin: 8.5px 0;
      width: 182px;
      height: auto; }
    .jumbotron .card-deck .card:nth-child(3) img {
      width: auto;
      height: auto; }
    .jumbotron .card-deck .card hr {
      width: 270px;
      align-self: center;
      margin: 0;
      border: 1px solid #C4C4C4; }
    .jumbotron .card-deck .card .card-title {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: normal;
      color: #000000; }
    .jumbotron .card-deck .card small s {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: normal;
      text-align: center;
      text-decoration-line: line-through;
      color: #D41F26; }
    .jumbotron .card-deck .card .card-text {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 28px;
      letter-spacing: -0.05em;
      color: #8B8B8B; }
      .jumbotron .card-deck .card .card-text span {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 10px;
        text-align: center; }
    .jumbotron .card-deck .card .discount {
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: normal;
      color: #239A0F;
      margin-right: 22px; }
    .jumbotron .card-deck .card .btn {
      padding: 10px 30px;
      background: #D41F26;
      border-radius: 50px;
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: normal;
      text-align: center;
      color: #FFFFFF; }
  .jumbotron .btn {
    padding: 10px 32px;
    background: #D41F26;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    border: none; }

.cars-card {
  margin-bottom: 40px; }
  .cars-card h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 39px;
    letter-spacing: -0.05em;
    color: #8B8B8B;
    margin: 40px 0; }
  .cars-card .card {
    background: #000000;
    border-radius: 20px;
    width: 580px;
    margin: 5px;
    justify-content: center;
    justify-items: center;
    align-self: center; }
    .cars-card .card h4 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: normal;
      text-align: right;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      justify-self: center; }
      .cars-card .card h4 span {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: normal;
        text-align: right;
        letter-spacing: 0.05em;
        color: #FFFFFF; }
    .cars-card .card img {
      margin-left: -16px; }

.contact .card {
  background: #FFFFFF;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  border-radius: 20px; }

.contact h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  color: #000000; }
  .contact h3 span.red {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    color: #D41F26; }

.contact input,
.contact select {
  height: 48px;
  margin-top: 20px;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  color: #8B8B8B; }

.contact select {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  color: #000000; }

.contact p {
  margin-top: -44px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  color: #000000; }

.process {
  margin-top: 40px; }
  .process h6 {
    margin-top: 30px; }

footer {
  background: #000000;
  color: #FFFFFF; }
  footer a {
    text-decoration: none;
    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms; }
    footer a:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1); }
  footer .logo {
    position: relative;
    line-height: 140px; }
  footer .bottom-contact {
    padding: 40px 0;
    position: relative; }
    footer .bottom-contact ul {
      list-style: none;
      overflow: hidden;
      padding: 0;
      margin: 0; }
    footer .bottom-contact ul li {
      display: block;
      padding: 10px 0;
      margin: 0; }
    footer .bottom-contact ul li a {
      padding: 0;
      margin: 0;
      text-decoration: none;
      color: #FFFFFF;
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: normal;
      text-align: center;
      transition: all ease-in-out 300ms;
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms; }
      footer .bottom-contact ul li a:hover {
        text-decoration: none;
        color: #D41F26;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1); }
      footer .bottom-contact ul li a.instagram, footer .bottom-contact ul li a.facebook {
        margin-left: 20px; }

@media screen and (max-width: 1200px) {
  nav {
    position: relative;
    line-height: 0px; }
  .logo {
    position: absolute;
    margin-top: -30px; }
  nav ul {
    max-height: 0px; }
  .showing {
    position: relative;
    z-index: 99;
    max-height: 34em;
    background: #000000; }
  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    text-align: center; }
  .menu-icon {
    display: block; } }
