@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:400,700|Roboto:400,500,700,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none; }

html {
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-x: hidden; }

button {
  cursor: pointer; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  background-color: #ffffff; }

::-webkit-scrollbar {
  border-radius: 50px;
  width: 10px;
  background-color: #ffffff; }

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #959696; }

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/Хедер.png");
  background-size: cover;
  width: 100%;
  position: absolute;
  height: 140px;
  left: 0px;
  top: 0px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35); }
  header a {
    text-decoration: none;
    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms; }
    header a:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1); }
  header .top-contacts {
    background: #000000;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0; }
    header .top-contacts ul {
      list-style: none;
      overflow: hidden;
      padding: 0;
      text-align: center;
      margin: 0;
      height: 40px;
      line-height: 40px; }
    header .top-contacts ul li {
      display: inline-block;
      padding: 0 20px;
      margin: 0;
      height: 40px;
      line-height: 40px; }
      header .top-contacts ul li.instagram, header .top-contacts ul li.facebook {
        float: right; }
    header .top-contacts ul li a {
      padding: 0;
      margin: 0;
      text-decoration: none;
      color: #FFFFFF;
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: normal;
      text-align: center;
      transition: all ease-in-out 300ms;
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms; }
      header .top-contacts ul li a:hover {
        text-decoration: none;
        color: #D41F26;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1); }
    header .top-contacts .bounce {
      display: inline-block;
      position: relative;
      -moz-animation: bounce 1000ms infinite linear;
      -o-animation: bounce 1000ms infinite linear;
      -webkit-animation: bounce 1000ms infinite linear;
      animation: bounce 1000ms infinite linear; }

@-webkit-keyframes bounce {
  0% {
    top: 0; }
  50% {
    top: -0.2em; }
  70% {
    top: -0.3em; }
  100% {
    top: 0; } }

@-moz-keyframes bounce {
  0% {
    top: 0; }
  50% {
    top: -0.2em; }
  70% {
    top: -0.3em; }
  100% {
    top: 0; } }

@-o-keyframes bounce {
  0% {
    top: 0; }
  50% {
    top: -0.2em; }
  70% {
    top: -0.3em; }
  100% {
    top: 0; } }

@-ms-keyframes bounce {
  header .top-contacts 0% {
    top: 0; }
  header .top-contacts 50% {
    top: -0.2em; }
  header .top-contacts 70% {
    top: -0.3em; }
  header .top-contacts 100% {
    top: 0; } }

@keyframes bounce {
  0% {
    top: 0; }
  50% {
    top: -0.2em; }
  70% {
    top: -0.3em; }
  100% {
    top: 0; } }
    header .top-contacts .ring {
      display: inline-block;
      position: relative;
      -moz-animation: ring 500ms infinite linear;
      -o-animation: ring 500ms infinite linear;
      -webkit-animation: ring 500ms infinite linear;
      animation: ring 500ms infinite linear; }

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg); }
  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg); }
  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg); }
  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg); }
  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg); }
  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg); }
  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg); }
  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg); }
  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg); }
  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg); }
  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg); }
  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg); }
  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg); }
  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg); }
  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg); }
  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg); }
  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg); }
  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); } }
    header .top-contacts .faa-ring.animated,
    header .top-contacts .faa-ring.animated-hover:hover,
    header .top-contacts .faa-parent.animated-hover:hover > .faa-ring {
      -webkit-animation: ring 2s ease infinite;
      animation: ring 2s ease infinite;
      transform-origin: 50% 0px none; }

@-webkit-keyframes horizontal {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  6% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0); }
  12% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  18% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0); }
  24% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  30% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0); }
  36% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes horizontal {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  6% {
    -webkit-transform: translate(5px, 0);
    -ms-transform: translate(5px, 0);
    transform: translate(5px, 0); }
  12% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  18% {
    -webkit-transform: translate(5px, 0);
    -ms-transform: translate(5px, 0);
    transform: translate(5px, 0); }
  24% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  30% {
    -webkit-transform: translate(5px, 0);
    -ms-transform: translate(5px, 0);
    transform: translate(5px, 0); }
  36% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }
    header .top-contacts .faa-horizontal.animated,
    header .top-contacts .faa-horizontal.animated-hover:hover,
    header .top-contacts .faa-parent.animated-hover:hover > .faa-horizontal {
      -webkit-animation: horizontal 2s ease infinite;
      animation: horizontal 2s ease infinite; }

.logo {
  position: absolute;
  z-index: 100;
  float: left;
  margin-right: 36px;
  padding: 0;
  margin: 0; }
  .logo img {
    height: 2.4rem; }

nav {
  margin-left: 0;
  position: relative;
  line-height: 90px; }

nav ul {
  list-style: none;
  background: transparent;
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  transition: all ease-in-out 1000ms;
  -webkit-transition: all ease-in-out 1000ms;
  -moz-transition: all ease-in-out 1000ms;
  -ms-transition: all ease-in-out 1000ms;
  -o-transition: all ease-in-out 1000ms; }

nav ul li {
  display: inline-block;
  transition: all ease-in-out 1000ms;
  -webkit-transition: all ease-in-out 1000ms;
  -moz-transition: all ease-in-out 1000ms;
  -ms-transition: all ease-in-out 1000ms;
  -o-transition: all ease-in-out 1000ms; }

nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  padding: 9px 34px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  text-align: center; }
  nav ul li a.active {
    border: 1px solid #D41F26;
    box-sizing: border-box;
    border-radius: 50px; }
  nav ul li a:hover {
    border: 1px solid #D41F26;
    box-sizing: border-box;
    border-radius: 50px;
    text-decoration: none;
    color: #D41F26; }

.menu-icon {
  position: relative;
  z-index: 99;
  line-height: 60px;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #D41F26;
  display: none; }

main {
  position: relative;
  margin-top: 183px; }
  main .top-grid a h2 {
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms; }
    main .top-grid a h2:hover {
      text-decoration: none;
      color: #D41F26;
      transform: scale(1.02);
      -webkit-transform: scale(1.02);
      -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02);
      color: #D41F26; }
  main .top-grid a img {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
    opacity: 1;
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms; }
    main .top-grid a img:hover {
      opacity: 0.9;
      text-decoration: none;
      color: #D41F26;
      transform: scale(1.02);
      -webkit-transform: scale(1.02);
      -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02);
      color: #D41F26; }
    main .top-grid a img.one {
      width: 373.96px;
      height: 410px;
      border-radius: 20px 0 0 0;
      -webkit-border-radius: 20px 0 0 0;
      -moz-border-radius: 20px 0 0 0;
      -ms-border-radius: 20px 0 0 0;
      -o-border-radius: 20px 0 0 0; }
    main .top-grid a img.two {
      width: 780.1px;
      height: 340px;
      border-radius: 0 20px 0 0;
      -webkit-border-radius: 0 20px 0 0;
      -moz-border-radius: 0 20px 0 0;
      -ms-border-radius: 0 20px 0 0;
      -o-border-radius: 0 20px 0 0; }
    main .top-grid a img.three {
      width: 373.96px;
      height: 532px; }
    main .top-grid a img.four {
      width: 448.32px;
      height: 274px; }
    main .top-grid a img.five {
      border: .15px grey solid;
      width: 325.85px;
      height: 274px; }
    main .top-grid a img.six {
      width: 778.1px;
      height: 318px; }
    main .top-grid a img.seven {
      width: 1156px;
      height: 364px;
      border-radius: 0 0 20px 20px;
      -webkit-border-radius: 0 0 20px 20px;
      -moz-border-radius: 0 0 20px 20px;
      -ms-border-radius: 0 0 20px 20px;
      -o-border-radius: 0 0 20px 20px; }
  main .top-grid .col-md {
    margin: 0;
    padding: 0;
    margin-top: -3rem;
    margin-left: -0.5rem; }
  main h1 {
    color: #8B8B8B;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 47px;
    letter-spacing: -0.05em;
    margin-bottom: 20px; }
  main .row img {
    padding: 0;
    margin: 0; }
  main .row a {
    margin: 0;
    padding: 0; }

.jumbotron {
  background: #F2F2F2;
  padding: 40px 0;
  margin: 0;
  margin-top: 40px; }
  .jumbotron a .btn {
    text-decoration: none;
    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms; }
    .jumbotron a .btn:hover {
      color: #D41F26;
      background: #FFFFFF;
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1); }
  .jumbotron h2 {
    color: #8B8B8B;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 47px;
    letter-spacing: -0.05em;
    margin-bottom: 40px; }
  .jumbotron .card-deck .owl-carousel .owl-nav button.owl-next,
  .jumbotron .card-deck .owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: #D41F26;
    border: none;
    padding: 0 !important;
    font: inherit;
    font-size: 42px;
    cursor: pointer !important;
    margin-top: -40px; }
  .jumbotron .card-deck .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: -5px;
    z-index: 3;
    outline: none; }
  .jumbotron .card-deck .card {
    width: 100%;
    max-width: 343px;
    min-width: 285px;
    height: 343px;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    margin-bottom: 40px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto; }
    .jumbotron .card-deck .card img {
      align-self: center; }
      .jumbotron .card-deck .card img.small-img {
        width: 100%;
        height: auto;
        max-width: 343px;
        min-height: 200px;
        object-fit: scale-down; }
    .jumbotron .card-deck .card.one img, .jumbotron .card-deck .card.four img, .jumbotron .card-deck .card.seven img {
      width: 209px;
      height: auto; }
    .jumbotron .card-deck .card.two img, .jumbotron .card-deck .card.five img, .jumbotron .card-deck .card.eight img {
      margin: 8.5px 0;
      width: 182px;
      height: auto; }
    .jumbotron .card-deck .card hr {
      width: 270px;
      align-self: center;
      margin: 0;
      border: 1px solid #C4C4C4; }
    .jumbotron .card-deck .card .card-title {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: normal;
      color: #000000; }
    .jumbotron .card-deck .card small s {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: normal;
      text-align: center;
      text-decoration-line: line-through;
      color: #D41F26; }
    .jumbotron .card-deck .card .card-text {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 28px;
      letter-spacing: -0.05em;
      color: #8B8B8B; }
      .jumbotron .card-deck .card .card-text span {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 10px;
        text-align: center; }
    .jumbotron .card-deck .card .discount {
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: normal;
      color: #239A0F;
      margin-right: 22px; }
    .jumbotron .card-deck .card a .btn {
      padding: 10px 30px;
      background: #D41F26;
      border-radius: 50px;
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: normal;
      text-align: center;
      color: #FFFFFF;
      text-decoration: none;
      transition: ease-in-out 300ms;
      -webkit-transition: ease-in-out 300ms;
      -moz-transition: ease-in-out 300ms;
      -ms-transition: ease-in-out 300ms;
      -o-transition: ease-in-out 300ms; }
      .jumbotron .card-deck .card a .btn:hover {
        color: #D41F26;
        background: #FFFFFF;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1); }
  .jumbotron .card-deck .card__hover {
    transition: transform 500ms;
    -webkit-transition: transform 500ms;
    -moz-transition: transform 500ms;
    -ms-transition: transform 500ms;
    -o-transition: transform 500ms; }
    .jumbotron .card-deck .card__hover::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
      content: '';
      opacity: 0;
      z-index: -1;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px; }
    .jumbotron .card-deck .card__hover:hover, .jumbotron .card-deck .card__hover:focus {
      transform: scale3d(1.01, 1.01, 1);
      -webkit-transform: scale3d(1.01, 1.01, 1);
      -moz-transform: scale3d(1.01, 1.01, 1);
      -ms-transform: scale3d(1.01, 1.01, 1);
      -o-transform: scale3d(1.01, 1.01, 1); }
      .jumbotron .card-deck .card__hover:hover::after, .jumbotron .card-deck .card__hover:focus::after {
        opacity: 1; }
  .jumbotron .btn {
    padding: 10px 32px;
    background: #D41F26;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms; }
    .jumbotron .btn:hover {
      color: #D41F26;
      background: #FFFFFF;
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1); }
    .jumbotron .btn.see-more {
      margin-top: 40px; }

.cars-card {
  margin-bottom: 40px; }
  .cars-card h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 39px;
    letter-spacing: -0.05em;
    color: #8B8B8B;
    margin: 40px 0; }
  .cars-card .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0 !important;
    margin-left: -1px !important; }
  .cars-card .card {
    background: #000000;
    width: 100%;
    max-width: 580px;
    min-width: 540px;
    height: 168px;
    margin: 5px 0;
    justify-content: center;
    justify-items: center;
    align-self: center;
    padding: 0 !important;
    cursor: pointer;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px; }
    .cars-card .card .work-one {
      box-sizing: border-box;
      background-image: url("../img/car1.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
      background-origin: border-box;
      height: 100%;
      max-height: 168px; }
    .cars-card .card .work-two {
      background-image: url("../img/car2.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
      background-origin: border-box;
      height: 100%; }
    .cars-card .card .work-three {
      background-image: url("../img/car3.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
      background-origin: padding-box;
      height: 100%; }
    .cars-card .card .work-four {
      background-image: url("../img/car4.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
      background-origin: padding-box;
      height: 100%; }
    .cars-card .card .work-five {
      background-image: url("../img/car5.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
      background-origin: padding-box;
      height: 100%; }
    .cars-card .card .work-six {
      background-image: url("../img/car6.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
      background-origin: padding-box;
      height: 100%; }
    .cars-card .card .work-seven {
      background-image: url("../img/car7.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
      background-origin: padding-box;
      height: 100%; }
    .cars-card .card .work-eight {
      background-image: url("../img/car8.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
      background-origin: padding-box;
      height: 100%; }
    .cars-card .card h4 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: normal;
      text-align: right;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      margin-right: 5px; }
      .cars-card .card h4 span {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: normal;
        text-align: right;
        letter-spacing: 0.05em;
        color: #FFFFFF; }
    .cars-card .card img {
      height: 168px;
      margin-left: -1px; }
  .cars-card .card__hover_two::before, .cars-card .card__hover_two::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; }
  .cars-card .card__hover_two::before {
    transform-origin: left top; }
  .cars-card .card__hover_two::after {
    transform-origin: right bottom; }
  .cars-card .card__hover_two:hover::before, .cars-card .card__hover_two:hover::after, .cars-card .card__hover_two:focus::before, .cars-card .card__hover_two:focus::after {
    transform: scale3d(1, 1, 1); }

.contact .card {
  background: #FFFFFF;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 3rem !important; }

.contact h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  color: #000000; }
  .contact h3 span.red {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    color: #D41F26; }

.contact input,
.contact select {
  height: 48px;
  margin-top: 20px;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  color: #8B8B8B;
  outline: none; }
  .contact input:focus,
  .contact select:focus {
    border: 2px solid #D41F26;
    box-shadow: none; }

.contact select {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  color: #000000; }

.contact p {
  margin-top: -44px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  color: #000000; }

.contact .btn {
  padding: 12px 45px;
  background: #D41F26;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  border-radius: 50px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
  border: none; }

.process {
  margin-top: 40px; }
  .process h6 {
    margin-top: 30px; }
  .process img {
    text-decoration: none;
    transition: ease-in-out 350ms;
    -webkit-transition: ease-in-out 350ms;
    -moz-transition: ease-in-out 350ms;
    -ms-transition: ease-in-out 350ms;
    -o-transition: ease-in-out 350ms; }
    .process img:hover {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2); }

footer {
  background: #000000;
  color: #FFFFFF; }
  footer a {
    text-decoration: none;
    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms; }
    footer a:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1); }
  footer .logo {
    position: relative;
    line-height: 140px; }
  footer .bottom-contact {
    padding: 30px 0;
    position: relative; }
    footer .bottom-contact ul {
      text-align: right;
      list-style: none;
      overflow: hidden;
      padding: 0;
      margin: 0; }
    footer .bottom-contact ul li {
      display: block;
      padding: 5px 0;
      margin: 0; }
    footer .bottom-contact ul li a {
      padding: 0;
      margin: 0;
      text-decoration: none;
      color: #FFFFFF;
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: normal;
      text-align: center;
      transition: all ease-in-out 300ms;
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms; }
      footer .bottom-contact ul li a:hover {
        text-decoration: none;
        color: #D41F26;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1); }
      footer .bottom-contact ul li a.instagram, footer .bottom-contact ul li a.facebook {
        margin-left: 20px; }

@media screen and (max-width: 1200px) {
  .top-contacts {
    background: #000000;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0; }
    .top-contacts ul {
      list-style: none;
      overflow: hidden;
      padding: 0;
      text-align: center;
      margin: 0;
      line-height: 40px !important; }
    .top-contacts ul li {
      display: inline-block;
      padding: 0 10px !important;
      margin: 0; }
      .top-contacts ul li.instagram, .top-contacts ul li.facebook {
        float: none !important; }
    .top-contacts ul li a i {
      line-height: 40px; }
  nav {
    position: relative;
    line-height: 0px; }
  .logo {
    position: absolute;
    margin-top: -35px; }
  nav ul {
    max-height: 0px; }
  .showing {
    position: relative;
    z-index: 99;
    max-height: 34em;
    background: #000000; }
  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    text-align: center; }
  .menu-icon {
    display: block; }
  .jumbotron h2 {
    text-align: center !important;
    color: #8B8B8B;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 62px !important;
    line-height: 47px;
    letter-spacing: -0.05em;
    margin-bottom: 40px; }
  .cars-card .card {
    max-width: 580px;
    min-width: 200px; }
  .cars-card h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 62px;
    line-height: 39px;
    letter-spacing: -0.05em;
    color: #8B8B8B;
    margin: 40px 0;
    text-align: center; } }

@media screen and (min-width: 991px) and (max-width: 1199.9px) {
  .hide {
    display: none; }
  .contact .card {
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    height: 350px; }
  .contact h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    color: #000000; }
    .contact h3 span.red {
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: normal;
      color: #D41F26; }
  .contact input,
  .contact select {
    height: 40px;
    margin-top: 10px;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    color: #8B8B8B; }
    .contact input:focus,
    .contact select:focus {
      border: 2px solid #D41F26;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35); }
  .contact select {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #000000; }
  .contact p {
    margin-top: -80px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #000000; }
  .contact .btn {
    padding: 10px 35px;
    background: #D41F26;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-top: 40px; }
  .top-grid h1 {
    text-align: center !important; }
  .top-grid .row {
    margin-left: 80px;
    margin-right: 40px; }
  .top-grid a img {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
    opacity: 0.9;
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms; }
    .top-grid a img:hover {
      opacity: 1;
      text-decoration: none;
      color: #D41F26;
      transform: scale(1.02);
      -webkit-transform: scale(1.02);
      -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02); }
    .top-grid a img.one {
      width: 249.306666667px !important;
      height: 273.333333333px !important;
      border-radius: 20px 0 0 0;
      -webkit-border-radius: 20px 0 0 0;
      -moz-border-radius: 20px 0 0 0;
      -ms-border-radius: 20px 0 0 0;
      -o-border-radius: 20px 0 0 0; }
    .top-grid a img.two {
      width: 520.066666667px !important;
      height: 226.666666667px !important;
      border-radius: 0 20px 0 0;
      -webkit-border-radius: 0 20px 0 0;
      -moz-border-radius: 0 20px 0 0;
      -ms-border-radius: 0 20px 0 0;
      -o-border-radius: 0 20px 0 0; }
    .top-grid a img.three {
      width: 249.306666667px !important;
      height: 354.666666667px !important; }
    .top-grid a img.four {
      width: 298.88px !important;
      height: 182.666666667px !important; }
    .top-grid a img.five {
      width: 217.233333333px !important;
      height: 182.666666667px !important; }
    .top-grid a img.six {
      width: 518.733333333px !important;
      height: 212px !important; }
    .top-grid a img.seven {
      width: 770.666666667px !important;
      height: 242.666666667px !important;
      border-radius: 0 0 20px 20px;
      -webkit-border-radius: 0 0 20px 20px;
      -moz-border-radius: 0 0 20px 20px;
      -ms-border-radius: 0 0 20px 20px;
      -o-border-radius: 0 0 20px 20px; }
  .top-grid .col-md {
    margin: 0;
    padding: 0;
    margin-top: -1.8rem !important;
    margin-left: -4rem !important; }
  .jumbotron {
    margin-right: 0px; }
    .jumbotron.recomendations {
      padding-left: 0px;
      padding-right: 2rem; }
      .jumbotron.recomendations h2 {
        text-align: center !important; }
      .jumbotron.recomendations .item {
        margin-left: 0px; } }

@media screen and (min-width: 768px) and (max-width: 990.9px) {
  .hide {
    display: none; }
  .contact .card {
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    height: 350px; }
  .contact h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    color: #000000; }
    .contact h3 span.red {
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: normal;
      color: #D41F26; }
  .contact input,
  .contact select {
    height: 40px;
    margin-top: 10px;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    color: #8B8B8B; }
    .contact input:focus,
    .contact select:focus {
      border: 2px solid #D41F26;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35); }
  .contact select {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #000000; }
  .contact p {
    margin-top: -80px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #000000; }
  .contact .btn {
    padding: 10px 35px;
    background: #D41F26;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-top: 40px; }
  .top-grid h1 {
    text-align: center !important; }
  .top-grid .row {
    margin-left: 80px;
    margin-right: 40px; }
  .top-grid a img {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
    opacity: 0.9;
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms; }
    .top-grid a img:hover {
      opacity: 1;
      text-decoration: none;
      color: #D41F26;
      transform: scale(1.02);
      -webkit-transform: scale(1.02);
      -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02); }
    .top-grid a img.one {
      width: 186.98px !important;
      height: 205px !important;
      border-radius: 20px 0 0 0;
      -webkit-border-radius: 20px 0 0 0;
      -moz-border-radius: 20px 0 0 0;
      -ms-border-radius: 20px 0 0 0;
      -o-border-radius: 20px 0 0 0; }
    .top-grid a img.two {
      width: 390.05px !important;
      height: 170px !important;
      border-radius: 0 20px 0 0;
      -webkit-border-radius: 0 20px 0 0;
      -moz-border-radius: 0 20px 0 0;
      -ms-border-radius: 0 20px 0 0;
      -o-border-radius: 0 20px 0 0; }
    .top-grid a img.three {
      width: 186.98px !important;
      height: 266px !important; }
    .top-grid a img.four {
      width: 224.16px !important;
      height: 137px !important; }
    .top-grid a img.five {
      width: 162.925px !important;
      height: 137px !important; }
    .top-grid a img.six {
      width: 389.05px !important;
      height: 159px !important; }
    .top-grid a img.seven {
      width: 578px !important;
      height: 182px !important;
      border-radius: 0 0 20px 20px;
      -webkit-border-radius: 0 0 20px 20px;
      -moz-border-radius: 0 0 20px 20px;
      -ms-border-radius: 0 0 20px 20px;
      -o-border-radius: 0 0 20px 20px; }
  .top-grid .col-md {
    margin: 0;
    padding: 0;
    margin-top: -1rem !important;
    margin-left: -0.99rem !important; }
  .jumbotron {
    margin-right: 0px; }
    .jumbotron.recomendations {
      padding-left: 0px;
      padding-right: 0px; }
      .jumbotron.recomendations h2 {
        text-align: center !important; }
      .jumbotron.recomendations .item {
        margin-left: -12px; } }

@media screen and (max-width: 767px) {
  .hide,
  .hide-md {
    display: none; }
  .contact .card {
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    min-height: 325px; }
  .contact h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    color: #000000; }
    .contact h3 span.red {
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: normal;
      color: #D41F26; }
  .contact input,
  .contact select {
    height: 40px;
    margin-top: 10px;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    color: #8B8B8B; }
    .contact input:focus,
    .contact select:focus {
      border: 2px solid #D41F26;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35); }
  .contact select {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #000000; }
  .contact p {
    margin-top: -95px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    color: #000000; }
  .contact .btn {
    padding: 10px 35px;
    background: #D41F26;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-top: 40px; }
  .top-grid a img {
    box-shadow: none !important;
    opacity: 1 !important;
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms; }
    .top-grid a img:hover {
      opacity: 1;
      text-decoration: none;
      color: #D41F26;
      transform: scale(1.02);
      -webkit-transform: scale(1.02);
      -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02); }
  .top-grid .one,
  .top-grid .two,
  .top-grid .three,
  .top-grid .four,
  .top-grid .five,
  .top-grid .six,
  .top-grid .seven {
    width: 100vw !important;
    height: auto !important;
    margin: 0px 0 !important;
    padding: 5px !important; }
  .top-grid .one {
    border-radius: 20px 20px 0 0 !important;
    -webkit-border-radius: 20px 20px 0 0 !important;
    -moz-border-radius: 20px 20px 0 0 !important;
    -ms-border-radius: 20px 20px 0 0 !important;
    -o-border-radius: 20px 20px 0 0 !important; }
  .top-grid .two {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important; }
  .top-grid h1 {
    text-align: center !important;
    font-size: 62px;
    line-height: 47px;
    letter-spacing: -0.05em;
    margin-bottom: 40px; }
  .top-grid a {
    margin: 0 auto !important;
    padding: 0 !important; }
    .top-grid a img {
      margin: 0 auto !important;
      padding: 0 !important; }
  .top-grid .col-md {
    margin: 0 !important;
    padding: 0 !important; }
    .top-grid .col-md .four,
    .top-grid .col-md .five,
    .top-grid .col-md .six {
      width: 100vw !important;
      height: auto !important;
      margin: 0px 0 !important;
      padding: 5px !important; }
    .top-grid .col-md a {
      margin: 0 auto !important;
      padding: 0 !important; }
      .top-grid .col-md a img {
        margin: 0 auto !important;
        padding: 0 !important; }
  footer {
    background: #000000;
    color: #FFFFFF; }
    footer a {
      text-decoration: none;
      transition: ease-in-out 300ms;
      -webkit-transition: ease-in-out 300ms;
      -moz-transition: ease-in-out 300ms;
      -ms-transition: ease-in-out 300ms;
      -o-transition: ease-in-out 300ms; }
      footer a:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1); }
    footer .logo {
      position: absolute;
      line-height: 140px; }
    footer .bottom-contact {
      padding: 40px 0;
      background: #000000; }
      footer .bottom-contact ul {
        position: relative;
        display: block;
        text-align: center;
        list-style: none;
        overflow: hidden;
        padding: 0;
        margin: 0;
        margin-top: 60px; }
      footer .bottom-contact ul li {
        display: block;
        padding: 10px 0;
        margin: 0; }
      footer .bottom-contact ul li a {
        padding: 0;
        margin: 0;
        text-decoration: none;
        color: #FFFFFF;
        font-family: "Roboto Condensed", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: normal;
        text-align: center;
        transition: all ease-in-out 300ms;
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms; }
        footer .bottom-contact ul li a:hover {
          text-decoration: none;
          color: #D41F26;
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1); }
        footer .bottom-contact ul li a.instagram, footer .bottom-contact ul li a.facebook {
          margin-left: 20px; }
  footer .logo img {
    margin-left: calc(100vw - 65vw); } }

@media screen and (max-width: 500px) {
  .hide,
  .hide-md,
  .hide-sm {
    display: none; }
  .top-grid h1 {
    text-align: center !important;
    font-size: 62px;
    line-height: 47px;
    letter-spacing: -0.05em;
    margin-bottom: 40px; }
  .top-grid a {
    margin: 0 auto !important;
    padding: 0 !important; }
    .top-grid a img {
      margin: 0 auto !important;
      padding: 0 !important; }
  .top-grid .col-md {
    margin: 0 auto !important;
    padding: 0 !important; }
    .top-grid .col-md a {
      margin: 0 auto !important;
      padding: 0 !important; }
      .top-grid .col-md a img {
        margin: 0 auto !important;
        padding: 0 !important; }
  .jumbotron.recomendations {
    padding-left: 20px;
    padding-right: 0px; }
    .jumbotron.recomendations h2 {
      text-align: center !important; }
    .jumbotron.recomendations .item {
      margin-left: 18px; }
  .top-contacts ul li {
    display: inline-block;
    padding: 11px 10px !important;
    margin: 0;
    line-height: 40px; }
  .contact .card {
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    padding: 10px !important;
    height: 480px; }
  .contact h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    color: #000000; }
    .contact h3 span.red {
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: normal;
      color: #D41F26; }
  .contact input,
  .contact select {
    height: 40px;
    margin-top: 10px;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    color: #8B8B8B; }
    .contact input:focus,
    .contact select:focus {
      border: 2px solid #D41F26;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35); }
  .contact select {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #000000; }
  .contact p {
    margin-top: -100px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #000000; }
  .contact .btn {
    padding: 10px 35px;
    background: #D41F26;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-top: 50px; }
  .cars-card {
    margin-bottom: 40px; }
    .cars-card h2 {
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 80px;
      line-height: 39px;
      letter-spacing: -0.05em;
      color: #8B8B8B;
      margin: 40px 0; }
    .cars-card .card {
      background: transparent;
      border-radius: 20px;
      max-width: 580px;
      height: 168px;
      margin: 5px 0;
      justify-content: center;
      justify-items: center;
      align-self: center;
      padding: 0;
      border: 0; }
      .cars-card .card h4 {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        margin-right: 10px;
        background: #000000;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px; }
        .cars-card .card h4 span {
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: normal;
          text-align: right;
          letter-spacing: 0.05em;
          color: #FFFFFF; }
  .cars-card .card .work-one {
    box-sizing: border-box;
    background-image: url("../img/1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-origin: border-box;
    height: 100%;
    max-height: 168px; }
  .cars-card .card .work-two {
    background-image: url("../img/1(1).png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-origin: border-box;
    height: 100%; }
  .cars-card .card .work-three {
    background-image: url("../img/1(2).png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-origin: padding-box;
    height: 100%; }
  .cars-card .card .work-four {
    background-image: url("../img/1(3).png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-origin: padding-box;
    height: 100%; }
  .cars-card .card .work-five {
    box-sizing: border-box;
    background-image: url("../img/1(4).png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-origin: padding-box;
    height: 100%; }
  .cars-card .card .work-six {
    background-image: url("../img/1(5).png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-origin: padding-box;
    height: 100%; }
  .cars-card .card .work-seven {
    background-image: url("../img/1(6).png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-origin: padding-box;
    height: 100%; }
  .cars-card .card .work-eight {
    background-image: url("../img/1(7).png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-origin: padding-box;
    height: 100%; }
  footer .logo img {
    margin-left: calc(100vw - 70vw); } }

@media screen and (max-width: 414px) {
  .jumbotron {
    text-align: center; }
    .jumbotron h2 {
      color: #8B8B8B;
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 50px !important;
      line-height: 47px;
      letter-spacing: -0.05em;
      margin-bottom: 40px; }
  .jumbotron.recomendations {
    padding-left: 10px;
    padding-right: 0px; }
    .jumbotron.recomendations h2 {
      text-align: center !important; }
    .jumbotron.recomendations .item {
      margin-left: 10px; }
  .cars-card {
    text-align: center; }
    .cars-card h2 {
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 39px;
      letter-spacing: -0.05em;
      color: #8B8B8B;
      margin: 40px 0; }
  footer .logo img {
    margin-left: calc(100vw - 75vw); } }

@media screen and (max-width: 360px) {
  .jumbotron {
    text-align: center; }
    .jumbotron h2 {
      color: #8B8B8B;
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 42px !important;
      line-height: 47px;
      letter-spacing: -0.05em;
      margin-bottom: 40px; }
  .cars-card {
    text-align: center; }
    .cars-card h2 {
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 39px;
      letter-spacing: -0.05em;
      color: #8B8B8B;
      margin: 40px 0; }
  .jumbotron.recomendations {
    padding-left: 20px;
    padding-right: 20px; }
    .jumbotron.recomendations h2 {
      text-align: center !important; }
    .jumbotron.recomendations .item {
      margin-left: 5px; }
    .jumbotron.recomendations .card-deck .card {
      width: 100%;
      max-width: 240px;
      min-width: 240px;
      height: 343px;
      background: #FFFFFF;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
      border-radius: 20px;
      margin-bottom: 40px;
      justify-items: center;
      margin-left: auto;
      margin-right: auto; }
      .jumbotron.recomendations .card-deck .card hr {
        width: 80%;
        align-self: center;
        margin: 0;
        border: 1px solid #C4C4C4; }
      .jumbotron.recomendations .card-deck .card hr {
        width: 80%; }
      .jumbotron.recomendations .card-deck .card .card-text {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.05em;
        color: #8B8B8B; }
        .jumbotron.recomendations .card-deck .card .card-text span {
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 10px;
          text-align: center; }
      .jumbotron.recomendations .card-deck .card .btn {
        padding: 10px 28px !important;
        background: #D41F26;
        border-radius: 50px;
        font-family: "Roboto Condensed", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: normal;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        transition: ease-in-out 300ms;
        -webkit-transition: ease-in-out 300ms;
        -moz-transition: ease-in-out 300ms;
        -ms-transition: ease-in-out 300ms;
        -o-transition: ease-in-out 300ms; }
        .jumbotron.recomendations .card-deck .card .btn:hover {
          color: #D41F26;
          background: #FFFFFF;
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1); } }
