@include mediaMenu {

    nav {
        position: relative;
        line-height: 0px;
    }

    .logo {
        position: absolute;
        margin-top: -30px;
    }

    nav ul {
        max-height: 0px;
    }

    .showing {
        position: relative;
        z-index: 99;
        max-height: 34em;
        background: $darkColor;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    .top-grid {
        h1 {
            text-align: center !important;
            font-size: 62px;
            line-height: 47px;
            letter-spacing: -0.05em;
            margin-bottom: 40px;
        }

        a {
            margin: 0 auto !important;
            padding: 0 !important;

            img {
                margin: 0 auto !important;
                padding: 0 !important;
            }
        }

        .col-md {

            margin: 0 auto !important;
            padding: 0 !important;

            a {
                margin: 0 auto !important;
                padding: 0 !important;

                img {
                    margin: 0 auto !important;
                    padding: 0 !important;
                }
            }

        }
    }

    .jumbotron h2 {
        color: #8B8B8B;
        font-family: "Roboto Condensed", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 62px !important;
        line-height: 47px;
        letter-spacing: -0.05em;
        margin-bottom: 40px;
    }

    .cars-card h2 {
        font-family: "Roboto Condensed", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 62px;
        line-height: 39px;
        letter-spacing: -0.05em;
        color: #8B8B8B;
        margin: 40px 0;
    }

}

@include mediaXl {}

@include mediaLg {
    .hide {
        display: none;
    }

    .top-grid {
        h1 {
            text-align: center !important;
            font-size: 62px;
            line-height: 47px;
            letter-spacing: -0.05em;
            margin-bottom: 40px;
        }

        a {
            margin: 0 auto !important;
            padding: 0 !important;

            img {
                margin: 0 auto !important;
                padding: 0 !important;
            }
        }

        .col-md {

            margin: 0 auto !important;
            padding: 0 !important;

            a {
                margin: 0 auto !important;
                padding: 0 !important;

                img {
                    margin: 0 auto !important;
                    padding: 0 !important;
                }
            }

        }
    }

    .contact {
        .card {
            background: $lightColor;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
            border-radius: 20px;
            height: 350px;
        }

        h3 {
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: normal;
            color: $darkColor;

            span.red {
                font-family: $secondaryFont;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: normal;
                color: $redColor;
            }
        }

        input,
        select {
            height: 40px;
            margin-top: 10px;
            border: 2px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 50px;
            font-family: $mainFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: normal;
            color: $headingsFontColor;

            &:focus {
                border: 2px solid $redColor;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
            }
        }

        select {
            font-family: $mainFont;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: normal;
            color: $darkColor;
        }

        p {
            margin-top: -80px;
            font-family: $mainFont;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: normal;
            color: $darkColor;
        }

        .btn {
            padding: 10px 35px;
            background: $redColor;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
            border-radius: 50px;
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            text-align: center;
            color: $lightColor;
            border: none;
            margin-top: 40px;
        }
    }
}

@include mediaMd {

    .hide,
    .hide-md {
        display: none;
    }

    .contact {
        .card {
            background: $lightColor;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
            border-radius: 20px;
            min-height: 325px;
        }

        h3 {
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: normal;
            color: $darkColor;

            span.red {
                font-family: $secondaryFont;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: normal;
                color: $redColor;
            }
        }

        input,
        select {
            height: 40px;
            margin-top: 10px;
            border: 2px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 50px;
            font-family: $mainFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: normal;
            color: $headingsFontColor;

            &:focus {
                border: 2px solid $redColor;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
            }
        }

        select {
            font-family: $mainFont;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: normal;
            color: $darkColor;
        }

        p {
            margin-top: -95px;
            font-family: $mainFont;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: normal;
            color: $darkColor;
        }

        .btn {
            padding: 10px 35px;
            background: $redColor;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
            border-radius: 50px;
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            text-align: center;
            color: $lightColor;
            border: none;
            margin-top: 40px;
        }
    }




    footer {
        background: $darkColor;
        color: $lightColor;

        a {
            text-decoration: none;
            transition: ease-in-out 300ms;
            -webkit-transition: ease-in-out 300ms;
            -moz-transition: ease-in-out 300ms;
            -ms-transition: ease-in-out 300ms;
            -o-transition: ease-in-out 300ms;

            &:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }

        .logo {
            position: absolute;
            line-height: 140px;
        }

        .bottom-contact {
            padding: 40px 0;
            background: $darkColor;

            ul {
                position: relative;
                display: block;
                text-align: center;
                list-style: none;
                overflow: hidden;
                padding: 0;
                margin: 0;
                margin-top: 60px;
            }

            ul li {
                display: block;
                padding: 10px 0;
                margin: 0;
            }

            ul li a {
                padding: 0;
                margin: 0;
                text-decoration: none;
                color: $lightColor;
                font-family: $secondaryFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: normal;
                text-align: center;
                transition: all ease-in-out 300ms;
                -webkit-transition: all ease-in-out 300ms;
                -moz-transition: all ease-in-out 300ms;
                -ms-transition: all ease-in-out 300ms;
                -o-transition: all ease-in-out 300ms;

                &:hover {
                    text-decoration: none;
                    color: $redColor;
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                }

                &.instagram,
                &.facebook {
                    margin-left: 20px;
                }
            }
        }
    }

    footer {
        .logo {
            img {
                margin-left: calc(100vw - 65vw);
            }
        }
    }


}

@include mediaSm {

    .hide,
    .hide-md,
    .hide-sm {
        display: none;
    }

    .top-contacts ul li {
        display: inline-block;
        padding: 11px 10px !important;
        margin: 0;
    }


    .contact {
        .card {
            background: $lightColor;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
            border-radius: 20px;
            padding: 10px !important;
            height: 480px;
        }

        h3 {
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            color: $darkColor;

            span.red {
                font-family: $secondaryFont;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: normal;
                color: $redColor;
            }
        }

        input,
        select {
            height: 40px;
            margin-top: 10px;
            border: 2px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 50px;
            font-family: $mainFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: normal;
            color: $headingsFontColor;

            &:focus {
                border: 2px solid $redColor;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
            }
        }

        select {
            font-family: $mainFont;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: normal;
            color: $darkColor;
        }

        p {
            margin-top: -100px;
            font-family: $mainFont;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: normal;
            color: $darkColor;
        }

        .btn {
            padding: 10px 35px;
            background: $redColor;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
            border-radius: 50px;
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            text-align: center;
            color: $lightColor;
            border: none;
            margin-top: 50px;
        }
    }

    .cars-card {
        margin-bottom: 40px;

        h2 {
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: bold;
            font-size: 80px;
            line-height: 39px;
            letter-spacing: -0.05em;
            color: $headingsFontColor;
            margin: 40px 0;
        }


        .card {
            background: transparent;
            border-radius: 20px;
            max-width: 580px;
            height: 168px;
            margin: 5px 0;
            justify-content: center;
            justify-items: center;
            align-self: center;
            padding: 0;
            border: 0;

            h4 {
                font-family: $mainFont;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: normal;
                text-align: center;
                letter-spacing: 0.05em;
                color: $lightColor;
                margin-right: 10px;
                background: $darkColor;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;


                span {
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: normal;
                    text-align: right;
                    letter-spacing: 0.05em;
                    color: $lightColor;
                }
            }

        }
    }

    footer {
        .logo {
            img {
                margin-left: calc(100vw - 70vw);
            }
        }
    }

}

@include mediaXSm {
    footer {
        .logo {
            img {
                margin-left: calc(100vw - 75vw);
            }
        }
    }
}

@include mediaXXSm {


    .jumbotron {
        text-align: center;

        h2 {
            color: #8B8B8B;
            font-family: "Roboto Condensed", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 48px !important;
            line-height: 47px;
            letter-spacing: -0.05em;
            margin-bottom: 40px;
        }
    }

    .cars-card {
        text-align: center;

        h2 {
            font-family: "Roboto Condensed", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 39px;
            letter-spacing: -0.05em;
            color: #8B8B8B;
            margin: 40px 0;
        }
    }

    .jumbotron .card-deck .card {
        width: 100%;
        max-width: 260px;
        min-width: 240px;
        height: 343px;
        background: #FFFFFF;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
        border-radius: 20px;
        margin-bottom: 40px;
        justify-items: center;

        hr {
            width: 80%;
            align-self: center;
            margin: 0;
            border: 1px solid #C4C4C4;
        }

        .card-text {
            font-family: $mainFont;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.05em;
            color: $headingsFontColor;

            span {
                font-family: $mainFont;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 10px;
                text-align: center;
            }
        }

        a .btn {
            padding: 8px 24px;
            background: $redColor;
            border-radius: 50px;
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            text-align: center;
            color: $lightColor;
            text-decoration: none;
            transition: ease-in-out 300ms;
            -webkit-transition: ease-in-out 300ms;
            -moz-transition: ease-in-out 300ms;
            -ms-transition: ease-in-out 300ms;
            -o-transition: ease-in-out 300ms;

            &:hover {
                color: $redColor;
                background: $lightColor;
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }
    }
}

@include mediaLandscape {}

@include mediaXlLandscape {}

@include mediaSmLandscape {}