@include mediaMenu {

    nav {
        position: relative;
        line-height: 0px;
    }

    .logo {
        position: absolute;
        margin-top: -30px;
    }

    nav ul {
        max-height: 0px;
    }

    .showing {
        position: relative;
        z-index: 99;
        max-height: 34em;
        background: $darkColor;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

}

@include mediaXl {}

@include mediaLg {}

@include mediaMd {}

@include mediaSm {}

@include mediaXSm {}

@include mediaXXSm {}

@include mediaLandscape {}

@include mediaXlLandscape {}

@include mediaSmLandscape {}