@import "config";
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: $backgroudColor;
    color: set-text-color($backgroudColor);
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}


p {}

button {
    cursor: pointer;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    background-color: $backgroudColor;
}

::-webkit-scrollbar {
    border-radius: 50px;
    width: 10px;
    background-color: $backgroudColor;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgb(149, 150, 150);
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/Хедер.png");
    background-size: cover;
    width: 100%;
    position: absolute;
    height: 140px;
    left: 0px;
    top: 0px;

    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);

    a {

        text-decoration: none;
        transition: ease-in-out 300ms;
        -webkit-transition: ease-in-out 300ms;
        -moz-transition: ease-in-out 300ms;
        -ms-transition: ease-in-out 300ms;
        -o-transition: ease-in-out 300ms;

        &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
    }


    .top-contacts {
        background: $darkColor;
        width: 100%;
        height: 40px;
        margin: 0;
        padding: 0;


        ul {
            list-style: none;
            overflow: hidden;
            padding: 0;
            text-align: center;
            margin: 0;
        }

        ul li {
            display: inline-block;
            padding: 11px 20px;
            margin: 0;

        }

        ul li a {
            padding: 0;
            margin: 0;
            text-decoration: none;
            color: $lightColor;
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: normal;
            text-align: center;
            transition: all ease-in-out 300ms;
            -webkit-transition: all ease-in-out 300ms;
            -moz-transition: all ease-in-out 300ms;
            -ms-transition: all ease-in-out 300ms;
            -o-transition: all ease-in-out 300ms;

            &:hover {
                text-decoration: none;
                color: $redColor;
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }
    }
}


.logo {
    position: absolute;
    z-index: 100;
    float: left;
    margin-right: 36px;
    padding: 0;
    margin: 0;
}

nav {
    position: relative;
    line-height: 70px;
}

nav ul {
    list-style: none;
    background: transparent;
    overflow: hidden;
    padding: 0;
    text-align: right;
    margin: 0;
    transition: all ease-in-out 1000ms;
    -webkit-transition: all ease-in-out 1000ms;
    -moz-transition: all ease-in-out 1000ms;
    -ms-transition: all ease-in-out 1000ms;
    -o-transition: all ease-in-out 1000ms;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: $lightColor;
    font-size: 16px;
    padding: 9px 34px;
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    text-align: center;

    &.active {
        border: 1px solid #D41F26;
        box-sizing: border-box;
        border-radius: 50px;
    }


    &:hover {
        border: 1px solid #D41F26;
        box-sizing: border-box;
        border-radius: 50px;
        text-decoration: none;
        color: $redColor;

    }
}

.menu-icon {
    position: relative;
    z-index: 99;
    line-height: 60px;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: $redColor;
    display: none;
}

main {
    position: relative;
    margin-top: 183px;

    .no-gutters {
        margin: 0;
        padding: 0;
    }

    h1 {
        color: $headingsFontColor;
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 47px;
        letter-spacing: -0.05em;
        margin-bottom: 40px;
    }

    .row {
        img {
            padding: 0;
            margin: 0;
        }

        a {
            margin: 0;
            padding: 0;

            &.no-gutters {
                margin: 0 !important;
                padding: 0;

            }
        }
    }

}

.jumbotron {
    background: #F2F2F2;
    margin-top: 40px;

    a {

        text-decoration: none;
        transition: ease-in-out 300ms;
        -webkit-transition: ease-in-out 300ms;
        -moz-transition: ease-in-out 300ms;
        -ms-transition: ease-in-out 300ms;
        -o-transition: ease-in-out 300ms;

        &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
    }



    h2 {
        color: $headingsFontColor;
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 47px;
        letter-spacing: -0.05em;

        margin-bottom: 40px;
    }

    .card-deck {
        .card {
            width: 343px;
            height: 343px;
            background: $lightColor;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
            border-radius: 20px;
            margin-bottom: 40px;

            justify-items: center;

            img {
                align-self: center;
            }

            &:nth-child(1) {
                img {
                    width: 209px;
                    height: auto;
                }
            }

            &:nth-child(2) {
                img {
                    margin: 8.5px 0;
                    width: 182px;
                    height: auto;
                }
            }

            &:nth-child(3) {
                img {
                    width: auto;
                    height: auto;
                }
            }

            hr {
                width: 270px;
                align-self: center;

                margin: 0;

                border: 1px solid #C4C4C4;
            }

            .card-title {
                font-family: $mainFont;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: normal;
                color: $darkColor;
            }

            small {
                s {
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: normal;
                    text-align: center;
                    text-decoration-line: line-through;
                    color: $redColor;
                }
            }

            .card-text {
                font-family: $mainFont;
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 28px;
                letter-spacing: -0.05em;
                color: $headingsFontColor;

                span {
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 10px;
                    text-align: center;
                }

            }

            .discount {
                font-family: $secondaryFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: normal;

                color: #239A0F;

                margin-right: 22px;
            }

            .btn {
                padding: 10px 30px;
                background: $redColor;
                border-radius: 50px;

                font-family: $secondaryFont;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: normal;
                text-align: center;

                color: $lightColor;

            }
        }
    }

    .btn {
        padding: 10px 32px;
        background: $redColor;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
        border-radius: 50px;

        font-family: $secondaryFont;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: normal;
        text-align: center;

        color: $lightColor;
        border: none;
    }

}

.cars-card {
    margin-bottom: 40px;

    h2 {
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 39px;
        letter-spacing: -0.05em;

        color: $headingsFontColor;

        margin: 40px 0;
    }

    .card {
        background: #000000;
        border-radius: 20px;
        width: 580px;

        margin: 5px;
        justify-content: center;
        justify-items: center;
        align-self: center;

        h4 {
            font-family: $mainFont;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: normal;
            text-align: right;
            letter-spacing: 0.05em;

            color: $lightColor;

            justify-self: center;

            span {
                font-family: $mainFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: normal;
                text-align: right;
                letter-spacing: 0.05em;

                color: $lightColor;

            }
        }

        img {
            margin-left: -16px;
        }
    }
}

.contact {}


.process {
    margin-top: 40px;
}

footer {
    background: $darkColor;
    color: $lightColor;

    a {

        text-decoration: none;
        transition: ease-in-out 300ms;
        -webkit-transition: ease-in-out 300ms;
        -moz-transition: ease-in-out 300ms;
        -ms-transition: ease-in-out 300ms;
        -o-transition: ease-in-out 300ms;

        &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
    }


    .logo {
        position: relative;
        line-height: 140px;
    }

    .bottom-contact {
        padding: 40px 0;
        position: relative;

        ul {
            list-style: none;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }

        ul li {
            display: block;
            padding: 10px 0;
            margin: 0;

        }

        ul li a {
            padding: 0;
            margin: 0;
            text-decoration: none;
            color: $lightColor;
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: normal;
            text-align: center;
            transition: all ease-in-out 300ms;
            -webkit-transition: all ease-in-out 300ms;
            -moz-transition: all ease-in-out 300ms;
            -ms-transition: all ease-in-out 300ms;
            -o-transition: all ease-in-out 300ms;

            &:hover {
                text-decoration: none;
                color: $redColor;
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
            }

            &.instagram,
            &.facebook {
                margin-left: 20px;
            }
        }
    }
}


@import "mobile";