.top-grid a:hover {
    color: red;
}

.top-grid h2 {
    position: absolute;
    z-index: 1;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.top1 {
    margin-top: 260px;
    margin-left: 90px;
}

.top2 {
    margin-top: 130px;
    margin-left: 500px;
}

.top3 {
    margin-top: 450px;
    margin-left: 250px;
}

.top4 {
    margin-top: 0px;
    margin-left: 150px;
}

.top5 {
    margin-top: -80px;
    margin-left: 600px;
    text-align: left;
}

.top6 {
    margin-top: 250px;
    margin-left: 250px;
}

.top7 {
    margin-top: 150px;
    margin-left: 100px;
    text-align: left;
}

@media screen and (min-width: 991px) and (max-width: 1199.9px) {
    .top1 {
        margin-top: 230px;
        margin-left: 30px;
    }

    .top2 {
        margin-top: 80px;
        margin-left: 300px;
    }

    .top3 {
        margin-top: 280px;
        margin-left: 130px;
    }

    .top4 {
        margin-top: 0px;
        margin-left: 150px;
    }

    .top5 {
        margin-top: -80px;
        margin-left: 400px;
        text-align: left;
    }

    .top6 {
        margin-top: 160px;
        margin-left: 170px;
    }

    .top7 {
        margin-top: 120px;
        margin-left: 50px;
        text-align: left;
    }
}

@media screen and (min-width: 769px) and (max-width: 990.9px) {
    .top-grid h2 {
        position: absolute;
        z-index: 1;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: normal;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }

    .top1 {
        margin-top: 150px;
        margin-left: 12px;
    }

    .top2 {
        margin-top: 60px;
        margin-left: 220px;
    }

    .top3 {
        margin-top: 200px;
        margin-left: 90px;
    }

    .top4 {
        margin-top: 0px;
        margin-left: 75px;
    }

    .top5 {
        margin-top: -60px;
        margin-left: 250px;
    }

    .top6 {
        margin-top: 120px;
        margin-left: 85px;
    }

    .top7 {
        margin-top: 90px;
        margin-left: 25px;
    }
}

@media screen and (max-width: 768.9px) {
    .top-grid h2 {
        position: absolute;
        z-index: 1;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 34px;
        line-height: normal;
        letter-spacing: 0.1em;
        text-align: left;
        color: #FFFFFF;
    }

    .top1 {
        margin-top: 500px;
        margin-left: 240px;
    }

    .top2 {
        margin-top: 20px;
        margin-left: 20px;
    }

    .top3 {
        margin-top: 20px;
        margin-left: 20px;
    }

    .top4 {
        margin-top: 20px;
        margin-left: 240px;
    }

    .top5 {
        margin-top: 350px;
        margin-left: 300px;
    }

    .top6 {
        margin-top: 20px;
        margin-left: 130px;
    }

    .top7 {
        margin-top: 20px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 766.9px) {
    .top-grid h2 {
        position: absolute;
        z-index: 1;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: normal;
        letter-spacing: 0.1em;
        text-align: left;
        color: #FFFFFF;
    }


}

@media screen and (max-width: 560.9px) {
    .top-grid h2 {
        position: absolute;
        z-index: 1;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: normal;
        letter-spacing: 0.1em;
        text-align: left;
        color: #FFFFFF;
    }

    .top1 {
        margin-top: 500px;
        margin-left: 180px;
    }

    .top2 {
        margin-top: 20px;
        margin-left: 20px;
    }

    .top3 {
        margin-top: 20px;
        margin-left: 20px;
    }

    .top4 {
        margin-top: 20px;
        margin-left: 200px;
    }

    .top5 {
        margin-top: 300px;
        margin-left: 300px;
    }

    .top6 {
        margin-top: 20px;
        margin-left: 150px;
    }

    .top7 {
        margin-top: 20px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 430px) {
    .top-grid h2 {
        position: absolute;
        z-index: 1;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: normal;
        letter-spacing: 0.1em;
        text-align: left;
        color: #FFFFFF;
    }

    .top1 {
        margin-top: 320px;
        margin-left: 120px;
    }

    .top2 {
        margin-top: 80px;
        margin-left: 210px;
    }

    .top3 {
        margin-top: 20px;
        margin-left: 20px;
    }

    .top4 {
        margin-top: 20px;
        margin-left: 150px;
    }

    .top5 {
        margin-top: 250px;
        margin-left: 180px;
    }

    .top6 {

        margin-top: 130px;
        margin-left: 55px;
    }

    .top7 {
        margin-top: 50px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 320px) {
    .top-grid h2 {
        position: absolute;
        z-index: 1;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: normal;
        letter-spacing: 0.1em;
        text-align: left;
        color: #FFFFFF;
    }

    .top1 {
        margin-top: 280px;
        margin-left: 80px;
    }

    .top2 {
        margin-top: 80px;
        margin-left: 180px;
    }

    .top3 {
        margin-top: 20px;
        margin-left: 20px;
    }

    .top4 {
        margin-top: 20px;
        margin-left: 100px;
    }

    .top5 {
        margin-top: 200px;
        margin-left: 140px;
    }

    .top6 {

        margin-top: 110px;
        margin-left: 50px;
    }

    .top7 {
        margin-top: 50px;
        margin-left: 20px;
    }
}